.custom-div {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    height: 300px; /* Ajusta la altura según tus necesidades */
    background-color: #f0f0f0; /* Cambia el color de fondo según tus necesidades */
}
.btn-cerrarsesion{
    background-color: #ff9800;

}
.texto-blanco {
    color: #f0f0f0; /* Este es color blancooo */
}
